@tailwind components;
@tailwind utilities;

* {
  scroll-behavior: auto;
  position:relative;
  margin:auto;
}
@media only screen and (max-width: 600px) {
  * {
    margin: 0;
    scroll-behavior: auto;
  }
}
body {
  background-color: #8aaae5;
  scroll-behavior: auto;
}
